.git
.gitignore
deploy_shinyapps
resultados
resultados_seleccion
validacion_final
archive
*.pdf
*.tex
*.md
guion_presentacion_shiny.md
INFORME_FINAL_PROYECTO.md
MANUAL_USO_APP.md
debug_loss.R
preparar_deploy.R
ejecutar_app.R
ejecutar_app.sh
run_all.R
